.todo-list-app {
  width: 300px;
  margin: auto;
  text-align: center;
  font-family: Arial, sans-serif;
}
.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
input {
  width: 70%;
  padding: 5px;
}
.add-btn {
  margin-left: 5px;
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 40%;
}
.todo-container {
  margin-top: 10px;
}
.todo-item {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  background-color: #f9f9f9; 
  padding: 10px; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  margin-bottom: 10px; 
}

.delete-btn {
  background-color: #ff4d4d; 
  color: white; 
  border: none; 
  padding: 8px 16px; 
  border-radius: 8px; 
  cursor: pointer; 
}

.delete-btn:hover {
  background-color: #ff1a1a; 
}
